In [1]:
import process_csv_data
import pandas as pd
data = process_csv_data.Dataset('../data/matches_all.csv')

In [2]:
df = pd.DataFrame(data.processed_results)

In [3]:
df

,result,odds-home,odds-draw,odds-away,home-wins,home-draws,home-losses,home-goals,home-opposition-goals,away-wins,away-draws,away-losses,away-goals,away-opposition-goals
0,A,1.36,4.75,8.50,7,1,2,26,12,3,6,1,11,6
1,D,2.40,3.30,2.90,2,3,5,9,14,5,2,3,17,12
2,D,3.20,3.30,2.25,4,2,4,11,13,7,2,1,19,8
3,H,1.75,3.75,4.33,4,1,5,14,16,4,1,5,13,12
4,D,1.40,4.33,8.00,5,3,2,21,11,2,3,5,14,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23949,D,0.00,0.00,0.00,3,3,4,17,18,4,0,6,15,21
23950,H,0.00,0.00,0.00,3,2,5,10,11,3,1,6,16,23
23951,A,0.00,0.00,0.00,1,4,5,10,19,3,3,4,18,18
23952,H,0.00,0.00,0.00,6,2,2,30,21,4,2,4,14,15
23953,H,0.00,0.00,0.00,5,3,2,19,11,9,0,1,26,11

In [4]:
df.to_csv('../data/sliding_window_result_all_matches.csv')