In [5]:
import tensorflow as tf
print ("TensorFlow version: " + tf.__version__)

TensorFlow version: 2.0.0

In [9]:
tf.compat.v1.enable_eager_execution()

dataset = tf.data.experimental.SqlDataset("sqlite", "../data/eusoccerdatabase.sqlite",
                                          "SELECT name FROM sqlite_master WHERE type ='table' AND name NOT LIKE 'sqlite_%';",
                                          (tf.string))
# Prints the rows of the result set of the above query.
for element in dataset:
  print(element)

tf.Tensor(b'Player_Attributes', shape=(), dtype=string)
tf.Tensor(b'Player', shape=(), dtype=string)
tf.Tensor(b'Match', shape=(), dtype=string)
tf.Tensor(b'League', shape=(), dtype=string)
tf.Tensor(b'Country', shape=(), dtype=string)
tf.Tensor(b'Team', shape=(), dtype=string)
tf.Tensor(b'Team_Attributes', shape=(), dtype=string)

In [15]:
dataset = tf.data.experimental.SqlDataset("sqlite", "../data/eusoccerdatabase.sqlite",
                                          "SELECT * FROM Country",
                                          (tf.int32, tf.string))
# Prints the rows of the result set of the above query.
for element in dataset:
  print(element)

(<tf.Tensor: id=60, shape=(), dtype=int32, numpy=1>, <tf.Tensor: id=61, shape=(), dtype=string, numpy=b'Belgium'>)
(<tf.Tensor: id=62, shape=(), dtype=int32, numpy=1729>, <tf.Tensor: id=63, shape=(), dtype=string, numpy=b'England'>)
(<tf.Tensor: id=64, shape=(), dtype=int32, numpy=4769>, <tf.Tensor: id=65, shape=(), dtype=string, numpy=b'France'>)
(<tf.Tensor: id=66, shape=(), dtype=int32, numpy=7809>, <tf.Tensor: id=67, shape=(), dtype=string, numpy=b'Germany'>)
(<tf.Tensor: id=68, shape=(), dtype=int32, numpy=10257>, <tf.Tensor: id=69, shape=(), dtype=string, numpy=b'Italy'>)
(<tf.Tensor: id=70, shape=(), dtype=int32, numpy=13274>, <tf.Tensor: id=71, shape=(), dtype=string, numpy=b'Netherlands'>)
(<tf.Tensor: id=72, shape=(), dtype=int32, numpy=15722>, <tf.Tensor: id=73, shape=(), dtype=string, numpy=b'Poland'>)
(<tf.Tensor: id=74, shape=(), dtype=int32, numpy=17642>, <tf.Tensor: id=75, shape=(), dtype=string, numpy=b'Portugal'>)
(<tf.Tensor: id=76, shape=(), dtype=int32, numpy=19694>, <tf.Tensor: id=77, shape=(), dtype=string, numpy=b'Scotland'>)
(<tf.Tensor: id=78, shape=(), dtype=int32, numpy=21518>, <tf.Tensor: id=79, shape=(), dtype=string, numpy=b'Spain'>)
(<tf.Tensor: id=80, shape=(), dtype=int32, numpy=24558>, <tf.Tensor: id=81, shape=(), dtype=string, numpy=b'Switzerland'>)